@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,700&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
    color: #e5e5e5;
    background: #181818;
    font-family: poppins, sans-serif;
    transition: ease-out 250ms;
}
.header-div{
    max-width: 1400px;
    margin: 200px auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    text-rendering: optimizespeed;
}
.header-title{
    position: relative;
    font-weight: 200;
    font-size: 40px;
    max-width: 62%;
    margin: 0.3em 30px;
}
.main-section{
    max-width: 1750px;
    display: block;
    margin: auto;
}
.project-1{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row-reverse;
    align-content: flex-start;
    margin-right: 5%;
    padding-bottom: 100px;
}
.project-2{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    align-content: flex-start;
    margin-left: 5%;
    padding-bottom: 100px;
}
main img{
    width: 900px;
    border-radius: 10px;
}
.sign{
    transition: ease-out 150ms;
}
.sign:after {
    background: #e5e5e5;
    content: "";
    position: absolute;
    height: 0.15rem;
    width: 0px;
    margin-top: 22.5px;
    transition: ease-out 150ms;
}
.h2-prod{
    position: relative;
    margin-top: 0px;
    transition: ease-out 150ms;
    font-weight: 300;
    font-family: roboto;
}
.sign2{
    background: #fca311;
    content: "";
    position: absolute;
    margin-left: 750px;
    margin-top: -175px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform:translate3d(0, 0, 0) scale(0);
    transition: ease-out 150ms;
}
.go{
    color:#242423;
    font-size: 85px;
    position: absolute;
    margin-top: -137.5px;
    margin-left: 760px;
    opacity: 0;
    transition: ease-out 150ms;
}
main a{
    color: #e5e5e5;
    text-decoration: none;
    font-size: 25px;
    transition: ease-out 150ms;
}
main a:hover .h2-prod{
    color: #fca311;
    transition: ease-out 150ms;
    margin-left: 81px;
}
main a:hover .sign:after{
    background: #fca311;
    width: 72.5px;
    transition: ease-out 150ms;
}
main a:hover .sign2{
    transform:translate3d(0, 0, 0) scale(1)
}
main a:hover  .go{
    margin-left: 790px;
    opacity: 1;
    transition: ease-out 100ms;
}
.redirect{
    width: 250px;
    height: 75px;
    background: #fca311;
    border-radius: 10px;
    display: flex;
    font-weight: 500;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: 0.25s ease-out;
}
.redirect:hover{
    background: #fa7d09;
}
main{
    height: auto;
    display: block;
    position: relative;
    padding-bottom: 100px;
}
footer{
    position: absolute;
    left: 0;
    width: 100%;
    height: 380px;
    background: #202020;
    transition: ease-out 250ms;
}
.footer-title{
    font-size: 65px;
    font-weight: 600;
    text-align: center;
    margin-top: 75px;
}
.contacts h3{
    font-family: roboto;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    margin-top: -60px;
    margin-bottom: 75px;
    text-align: center;
}
.links{
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width: 768px;
    width: 95%;
    text-align: center;
}
.contact-info{
    position: relative;
    top: -20%;
    
}
.contact_img{
    max-width: 35px;
}
.contacts a{
    text-decoration: none;
    color: #e5e5e5;
    font-size: 22.5px;
}
/* MENU*/
#menu{
    height: 0;
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    background: #202020;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: .25s ease-in-out;
    box-shadow: 0px -5px 20px 0px rgba(0,0,0,0.05);
    z-index: 99;
}
#menu h2{
    font-size: 40px;
    color: #fca311;
    cursor: pointer;
    margin-left: 50px;
    transition: .25s ease-in-out;
}
#menu h2:hover{
    color: #e5e5e5;
}
#menu a{
    color: #e5e5e5;
    text-decoration: none;
    font-size: 25px;
    margin-left: 50px;
    transition: .25s ease-in-out;
}
body.dark-theme #menu h2{
    color: #035CEE;
}
body.dark-theme #menu h2:hover{
    color: #333333;
}
#menu.is-active{
    height: 80px;
    top: 0;
}
/* MENU*/

/* DARK THEME */
body.dark-theme {
    background: #F9F9F9;
    color: #333333;
}
body.dark-theme footer{
    background: #E5E5E5;
}
body.dark-theme a, body.dark-theme #menu.is-active a{
    color: #333333;
}
body.dark-theme #menu.is-active, body.dark-theme #menu{
    background: #E5E5E5;
}
body.dark-theme .hamburger .line{
    background-color: #130F0E ;
    transition: .25s ease-in-out;
}
body.dark-theme .sign2, body.dark-theme main a:hover .sign:after, body.dark-theme .redirect{
    background: #035CEE;
}
body.dark-theme main a:hover .h2-prod{
    color: #035CEE;
}
body.dark-theme .redirect, body.dark-theme .go{
    color: #ecf0f1;
}
body.dark-theme .redirect:hover{
    background: #0582F6;
}
body.dark-theme .sign:after{
    background: #333333;
}
/* DARK THEME */
header{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* hamburger button */
.slidebar{
    position: absolute;
    right: 25px;
    z-index: 100;
    transition: 0.4s ease-in-out;
}
.hamburger .line{
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    
}
#hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
.hamburger:hover{
    cursor: pointer;
}
  
#hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
}
  
#hamburger-1.is-active .line:nth-child(1){
    transform: translateY(13px) rotate(45deg);
}
#hamburger-1.is-active .line:nth-child(3){
    transform: translateY(-13px) rotate(-45deg);
}
/* hamburger button */
@media (max-width: 1015px){
    .header-div{
        margin: 20vw auto;
    }
    .header-title{
        font-size: 4vw;
        max-width: 72%;
    }
    .main-section{
        max-width: 1040px;
        position: relative;
        margin: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main img{
        max-width: 100%;
    }
    .project-1{
        display: flex;
        justify-content: center;
        margin-right:0;
        width: 90%;
        padding-bottom: 4.5vh;
    }
    .project-2{
        display: flex;
        justify-content: center;
        margin-left:0;
        width: 90%;
        padding-bottom: 4.5vh;
    }
    .sign2{
        margin-top: -20%;
        margin-left: 83.5%;
        width: 19.5vw;
        height: 19.5vw;
    }
    .go{
        margin-top: -16%;
        margin-left: 84.5%;
        font-size: 8.25vw;
    }
    main a:hover  .go{
        margin-left: 88%;
    }
    .sign:after{
        margin-top: 2.80%;
        height: 0.5%;
    }
    main a:hover .sign:after{
        width: 8.5%;
    }
    .h2-prod{
        font-size: 4.5vw;
    }
    main a:hover .h2-prod{
        margin-left: 9.5%;
    }
    
}
@media(max-width: 768px){
    .redirect{
        width: 225px;
        height: 60px;
        font-size: calc(32.5px - 1vw);
        margin-bottom: 10vw;
    }
    footer{
        height: auto;
    }
    .links{
        margin-bottom: 25px;
    }
    .footer-title{
        font-size: 8.5vw;
        margin-top: 7vw;
    }
    .contacts h3{
        font-size: 3.5vw;
        margin-top: -4vw;
        margin-bottom: 12vw;
    }
    .contact_img{
        width: 5vw
    }
    .contacts a{
        font-size: 3vw;
    }
    #menu h2{
        margin-left: 6vw;
    }
    #menu a{
        margin-left: 6vw;
    }
    .slidebar{
        right: 2.5vw;
    }
}
@media (max-width: 600px){
    #menu h2{
        font-size: 6.5vw;
    }
    #menu a{
        font-size: 4vw;
    }
    #menu.is-active{
        max-height: 80px;
        height: 16vw;
        min-height: 45px;
    }
    header{
        max-height: 80px;
        height: 16vw;
        min-height: 45px;
    }
}
@media (max-width: 550px){
    .hamburger{
        transform: scale(0.8);
    }
}
@media (max-width: 450px){
    .hamburger{
        transform: scale(0.6);
    }
}
@media (max-width: 320px){
    .hamburger{
        transform: scale(0.45);
    }
}
